<!-- https://learn.co/tracks/full-stack-web-development-v7/sinatra/activerecord/activerecord-in-sinatra -->
<form method="post" action="/models/<%= @model.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="delete">
</form>
