<!-- https://learn.co/tracks/full-stack-web-development-v7/sinatra/activerecord/activerecord-in-sinatra -->
<form action="/models/<%= @model.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" ...>
</form>
