<!DOCTYPE html>
<html>
    <head>
        <title>Model Interaction Page</title>
    </head>
    <body>
        <p>The first model created in this workspace should do something below:</p>

        <form method="POST" action="/model/first/reply">
          <p>The First Model's Text: <input type="text" name="modeltext"></p>
          <input type="submit">
        </form>

    </body>
</html>
