<!-- This is an embedded Ruby file -->

<!DOCTYPE html>
<html>
    <head>
        <title>My First View!!</title>
    </head>
    <body>

        <!-- if you change this line, the rspec test in:
             application_integration_spec.rb
             will break
        -->
        <h1>Welcome to the Index Page!</h1>


        <p>This HTML code is inside of a '.erb' file in the views directory, where it belongs.</p>
    </body>
</html>
