<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <p>
        This line test the substitution tags,

        <!-- Use the <%= %> to display the result of a Ruby calculation-->
        so 1 + 1 should equal <%= 1 + 1 %> if this is working properly.
        </p>

        <!-- Use the <% %> to hide the result of a Ruby calculation-->
        <% if 1 == 2 %>
        <p>1 equals 2.</p>
        <% else %>
        <p>1 does not equal 2.</p>
        <% end %>

    </body>
</html>
