<!doctype html>
<html>
  <head>
    <title>Layout Header</title>
  </head>
  <body>
    <div class="header">
      <p>This is the header that will appear on most pages due to the yield statement in the layout.erb file</p>

      <%= yield %>

  </body>
</html>
