<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Welcome to a Form</h1>

        <!-- Codelong from here: -->
        <!-- https://learn.co/tracks/full-stack-web-development-v7/sinatra/forms/html-forms-and-params -->
        <form method="POST" action="/reply">
          <p>Your Name: <input type="text" name="name"></p>
          <p>Your Age: <input type="text" name="age"></p>
          <input type="submit">
        </form>
    </body>
</html>
